html{
    background-color: black;
}

.info-talos-container{
    width: 100%;
    height: 170vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-image: url('../../assets/talos-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.details-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.details-container p{
    color: white;
    font-size: 20px;   
}

.paragraph{
    width: 500px;
}


.program-img{
   margin-top: 2rem;
} 

.background-white{
    background-color: rgba(84, 84, 84, 0.408);
    width: 80%;
    height: max-content;
    padding: 3rem;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-info{
    font-size: 50px;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.prosfores{
    margin-top: 2rem;
    padding-bottom: 5rem;
}

.prosfores a{
    text-decoration: none;
    color: white;
}
#edo{
    text-decoration: underline;
}

.prosfores #edo:hover {
    color: red;
}
.details-container ul {
    list-style-type: circle;
}
.erotisi{
    text-align: center;
}
@media only screen and (max-width: 1200px) {
    .program-img{
        width: 400px;
    }
    .details-container{
        flex-direction: column;
    }
    .paragraph {
            width: 300px;
    }
    .background-white{
        background-color: transparent;
        width: 80%;
        height: max-content;
        padding: 0;
        margin-top: 5rem;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-talos-container{
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .details-container ul{
        justify-self: center;
        margin-left: 2rem;
       
    }
    .title-info{
        font-size: 35px;
    }
    .title{
        font-size: 30px !important;
        width: 100%;
        text-align: center;
    }

}