.footer-container{
    background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.804359243697479) 75%, rgba(0, 0, 0, 0.40379901960784315) 94%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    bottom: 0;
    /* border-top:1px solid rgba(255, 255, 255, 0.5); */
    height: 20vh;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-items-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-section{
    margin: 0 15rem;
    color: #fff;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

.footer-section a{
    text-decoration: none;
    color: #fff;
}

.footer-section a:hover{
    color: red!important;
}
.footer-section ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logos:hover {
    opacity: 0.5;
}


#socials{
    text-align: center;
    justify-self: flex-end;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    height: fit-content;
}

#copyrights {
    text-align: center;
    margin-bottom: 2rem;
}

.a-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.a-row p{
    margin-right: 1rem;
}

@media only screen and (max-width: 786px) {

    .footer-items-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-section li{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 14px;
    }
    .footer-section ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-container{
        height: fit-content;
    }

}